<div class="form-horizontal">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="col-sm-2 control-label">Id: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="itemDetails.id" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Spalva: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="itemDetails.color" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Dydis: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="itemDetails.size" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Tipas: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="itemDetails.type" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Forma: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="itemDetails.shape" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Nuotrauka URL: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="itemDetails.imageUrl" />
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <img src="{{itemDetails.imageUrl}}" />
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <button (click)="save()" class="btn btn-primary pull-left">Save</button>
  </div>
</div>